fastapi==0.111.0
matplotlib==3.8.4
nvidia-pyindex==1.0.9
onnxruntime==1.17.3
opencv-python==4.9.0.80
pillow==10.3.0
python-multipart==0.0.9
requests==2.32.0
tritonclient[grpc]==2.45.0
uvicorn==0.29.0
wheel==0.43.0
